.frame {
    -fx-min-width: 700px;
    -fx-min-height: 400px;
    -fx-background-color:  #E9E9E9;
}

.logo {
    -fx-min-width: 350px;
    -fx-min-height: 400px;
    -fx-background-color: #447FB5;
}

.tf{
    -fx-background-color:#ffffff ;
    -fx-background-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-border-color: #E9E9E9;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0); 
    -fx-hgap: 2px;
    -fx-padding: 5px;
}

.lgBtn{
    -fx-min-width: 100px;
    -fx-min-height: 30px;
    -fx-background-color    : #447FB5;
    -fx-background-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-border-color: #447FB5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

.fntLoginbtn{
    -fx-background-color :#ffffff; 
}

.closeBtnImg {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.dashboard{
    -fx-min-width: 1920px;
    -fx-min-height: 1080px;
    -fx-background-color:  #E9E9E9;
}

.dashboardmenu{
    -fx-min-width: 170px;
    -fx-min-height: 720px;
    -fx-background-color:  #447FB5;
    -fx-background-radius: 0 20 20 0;    
}

.dashboardBtn{
    -fx-background-color:  #447FB5;
}